@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&family=Poppins:wght@300;400;600;700;800&display=swap');
.content
{
    float:right;
    font-family: 'Architects Daughter', cursive;
    font-size:13px;
}
.box
{
    background-image: url("IMAGES/plain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    
}
.heading
{
    text-align: center;
    margin-top:30px;
    background-color:lightpink;
    width:230px;
    padding:2px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
    margin-left:350px;
   
}
.row
{
    margin-top:50px;

    
}
.fa
{
    color:yellow
}
.box-part{
    background-color: whitesmoke;
    margin-right:px;
    border:2px solid black;
    box-shadow:10px 10px black;
    border-radius:5px;
  
}
.col-4
{
    gap:1px;
    
}
h4{
    font-family: 'Caveat', cursive;
   background-color: lightgrey;
}

.mark
{
    background-image:linear-gradient( pink,aqua,lightcoral);
    width:90px;
    border-radius: 10px;
    box-shadow:5px 5px gray;
  
}
img
{
    border:2px solid black;
    border-radius:30px
   
}